<div id="messagebox">
    <div id="hideAndShow"></div>
    <div class="message received">
        <p>Hi there!</p>
        <span class="timestamp">12:05 PM</span>
    </div>
    <div class="message sent">
        <p>Hey! How are you?</p>
        <span class="timestamp">12:06 PM</span>
    </div>
    <div class="message received">
        <p>I'm good, thanks. How about you?</p>
        <span class="timestamp">12:07 PM</span>
    </div>

    <div id="messagesend">
        <form action="" method="post">
            <input type="text" name="" id="" />
            <button type="submit"><span>Send</span></button>
        </form>
    </div>
</div>
<button id="messageslider"><img src="./images/fast-forward.png" alt=""></button>
<button id="messageslider2"><img src="./images/fast-backward.png" alt=""></button>
</div>