
<div class="comment">
  <div class="addNewComment">
    <form action="" method="post">
      <input type="text" name="" id="" />
      <button type="submit" id="addNewComment">Add Comment</button>
    </form>
  </div>
  <div class="comment-header">
    <div class="comment-name">
      <img src="https://via.placeholder.com/50" alt="Profile Picture" />
      <h4>John Doe</h4>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut metus vel
      ipsum dapibus consectetur. Morbi vehicula vel nisl non laoreet. Cras
    </p>
  </div>
  <div class="comment-footer">
    <div class="left-section">
      <span>0 Likes</span>
      <a href="#"><img src="./images/like.png" alt="" id="like" /></a>
    </div>
    <p class="comment-details">April 15, 2023</p>
  </div>
  <div class="comment-header">
    <div class="comment-name">
      <img src="https://via.placeholder.com/50" alt="Profile Picture" />
      <h4>John Doe</h4>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut metus vel
      ipsum dapibus consectetur. Morbi vehicula vel nisl non laoreet. Cras
    </p>
  </div>
  <div class="comment-footer">
    <div class="left-section">
      <span>0 Likes</span>
      <a href="#"><img src="./images/like.png" alt="" id="like" /></a>
    </div>
    <p class="comment-details">April 15, 2023</p>
  </div>
</div>
