<nav>
      <% if(locals.user) { %>
        
        <% if(locals.user.avatar) { %>
          <div class="dp">
          <a href="/"><img src="<%=locals.user.avatar%>" alt="profile photo" id="profie" id="homedp"></a>
          <a href="/"><h3><%=locals.user.name%></h3></a>
          </div>
        <% } else { %>
          <div class="dp">
          <a href="/"><img src="/images/avatar.jpeg" alt="profile photo" id="profie" id="homedp"></a>
          <a href="/"><h3><%=locals.user.name%></h3></a>
          </div>
        <% } %>
      <% } %>
      
      <ul>
        <li><a href="/">Home</a></li>
      
        
        <!-- <li><a href="/user/signin">Sign In</a></li>
        <li><a href="/user/signup">Sign Up</a></li> -->
        <% if(locals.user) { %>
          <li><a href="/user/about/<%=locals.user.id%>">About</a></li>
          <li><a href="/user/signout">Sign Out</a></li>
        <% } else { %>
          <li><a href="/user/signin">Sign In</a></li>
          <li><a href="/user/signup">Sign Up</a></li>

        <% } %>
        
      </ul>
    </nav>