<div>
    <p>
        Hi <%= comment.user.name %>,
        <br>
        <br>
        <p>Your comment <strong><%= comment.content%></strong> just got published on Facebook</p>
        <br>
        <br>
        <h4>Thanks</h4>
    </p>
</div>