<!-- to send mail regarding with link to reset password -->

<!-- Path: views\mailers\forget_password\password_reset_link.ejs -->

<div>
    <p>
        Hi <%= user.name %>,
        <br>
        <br>
        <p>Click on the link below to reset your password</p>
        <br>
        <br>
        <a href="<%= resetLink %>">Click here to reset password</a>
        <br>
        <br>
        <h4>Thanks</h4>
    </p>
</div>