<style>
  form {
    width: 400px;
  }
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  form {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #117cfe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  button[type="button"]:hover {
    background-color: #1238e2;
  }
</style>

<form action="/user/create" method="post">
  <h1>Sign Up</h1>
  <div class="input-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="name" />
  </div>
  <div class="input-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" />
  </div>
  <div class="input-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
  </div>
  <div class="input-group">
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm_password" />
  </div>
  <button type="submit">Sign Up</button>
  <div class="google-login">
    <button type="button" class="google-login">Sign Up with Google</button>
  </div>
</form>
