<link rel="stylesheet" href="/css/signup.css">

<form action="/user/create" method="post">
  <h1>Sign Up</h1>
  <div class="input-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="name" />
  </div>
  <div class="input-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" />
  </div>
  <div class="input-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
  </div>
  <div class="input-group">
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm_password" />
  </div>
  <button type="submit">Sign Up</button>
  <div class="google-login">
    <button type="button" class="google-login">Sign Up with Google</button>
  </div>
</form>

<script>
  const googleLoginButton = document.querySelector(".google-login");
  googleLoginButton.addEventListener("click", () => {
    window.location.href = "/user/auth/google";
  });
</script>